/* nav bar */
nav {
  position: sticky;
}
nav ul {
    border-style:groove;
    border-color: lightgray;
    border-radius: 5px;
    background-color: black;
    list-style-type: none;
    padding: 25px;
    box-shadow:	#a78400;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  nav ul li {
    padding-left: 40px;
    padding-right: 40px
  }


  nav ul li a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    padding: 15px;
    opacity: .8;
    transition: .6s;
  }

  nav ul li a:hover {
    background-color: lightcyan;
    font-family: 'Lucida Sans';
    border-radius: 10px;
    font-style: italic;
    font-size: 15px;
    /* code for opactiy (not color) transition paraphrased from stackoverflow */
    opacity: 1.0;
    color: #b1bfde;
    transition: opacity .6s ease-in-out;
                  -moz-transition: opacity .6s ease-in-out;
                  -webkit-transition: opacity .6s ease-in-out;
    transition: .6s;
  }

  .active {
    color:rgb(255, 255, 255);
    font-weight: bold;
  }
