/* NAVBAR */
nav {
  position: fixed;
  top: 0;
  left: 0;
  /* adding a glassmorphism effect - learned here: https://codehalweb.com/responsive-glassmorphism-navbar-html-css-js/ */
  z-index: 99;
  backdrop-filter: blur(10px);
  background: rgba(255, 255, 255, 0.075);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2); 
  width: 100%;
  overflow: hidden;
}

nav ul {
    background-color: black;
    list-style-type: none;
    padding: 0px;
    margin: 0;
    box-shadow:	#a78400;
  }

  nav ul li {
    display: block;
  }

  nav ul li a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    opacity: .8;
    transition: .6s;
    text-align: center;
    padding: 30px 35px;
    display: inline-block;
  }

  nav ul li a:hover {
    background-color: lightcyan;
    font-family: 'Lucida Sans';
    border-radius: 10px;
    font-style: italic;
    /* code for opactiy (not color) transition paraphrased from stackoverflow */
    opacity: 1.0;
    color: #b1bfde;
    transition: opacity .6s ease-in-out;
                  -moz-transition: opacity .6s ease-in-out;
                  -webkit-transition: opacity .6s ease-in-out;
    transition: .6s;
  }

  .active {
    color:rgb(255, 255, 255);
    font-weight: bold;
  }

/* BODY + BACKGROUND */
body {
  background-color: black;
}